# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# Python packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs / Editors
.vscode/
.idea/

# Environment variables
.env
.env.*

# Logs
*.log